server/logs/
server/npm-debug.log
server/yarn-error.log
server/node_modules/
server/package-lock.json
server/yarn.lock
server/coverage/
server/.idea/
server/run/
server/.DS_Store
server/*.sw*
server/*.un~
*.DS_Store



# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
ui/node_modules

# testing
ui/coverage

# production
ui/dist

# misc
ui/.DS_Store
ui/.env.local
ui/.env.development.local
ui/.env.test.local
ui/.env.production.local

ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

ui/package-lock.json

ui/.idea
ui/.vscode
ui/package-lock.json

